<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= @user.name %></h3>
    </div>
    <div class="panel-body">
      <div class="col-lg-4">
        <%= image_tag(@user.image_url) %>
      </div>
      <div class="col-lg-8">
        <h1>作った授業数</h1>
        <h1>受けた授業数</h1>
      </div>
    </div>
  </div>
  <%= link_to 'ユーザー情報を編集する', edit_user_path(@user), class: 'btn btn-primary' %>
  <%= link_to 'ログアウト', logout_path, method: :delete , class: 'btn btn-primary' %>
</div>